<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owlbyte.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MySpotifyTheme" >
        <activity
            android:name=".SpotifyStreamerActivity"
            android:label="@string/title_activity_spotify_streamer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TracksActivity"
            android:label="@string/title_activity_tracks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SpotifyStreamerActivity" />
        </activity>
        <activity
            android:name=".PlaybackActivity"
            android:label="@string/title_activity_spotify_streamer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TracksActivity" />
        </activity>

        <service
            android:name=".service.AudioService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.owlbyte.soptifystreamer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.owlbyte.soptifystreamer.action.PLAY" />
                <action android:name="com.owlbyte.spotifystreamer.action.PAUSE" />
                <action android:name="com.owlbyte.spotifystreamer.action.NEXT" />
                <action android:name="com.owlbyte.spotifystreamer.action.PREVIOUS" />
                <action android:name="com.owlbyte.spotifystreamer.action.UPDATE_UI" />
                <action android:name="com.owlbyte.spotifystreamer.action.SET_PLAYLIST" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.owlbyte.spotifystreamer.action.URL" />

                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name=".MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
